__pycache__
.vscode
.ipynb_checkpoints

data
figures
models
wandb

notebooks/*
!notebooks/examination_level_binary_classification
!notebooks/examination_level_hemorrhage_detection
!notebooks/image_level_hemorrhage_detection

scripts/*
!scripts/explain
!scripts/predict

preprocess/*